@charset "UTF-8";

@font-face {
    font-family: 'DIN-1451-Alt';
    src: url('../font/din1451alt.ttf') format('truetype');
    src: url('../font/din1451alt_G.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    font-family: 'Noto Sans JP', 'メイリオ', 'Meiryo';
    color: #FFF;
    box-sizing: border-box;
    min-width: 1076px;
    padding: 0;
    margin: 0;
    background-image:
        url("../img/back_PC/00_PC.jpg"),
        url("../img/back_PC/01.jpg"),
        url("../img/back_PC/02.jpg"),
        url("../img/back_PC/03.jpg"),
        url("../img/back_PC/04.jpg");
    background-size:
        cover,
        cover,
        cover,
        cover,
        cover;
    background-position:
        center,
        0 calc(100vh * 1),
        0 calc(100vh * 2),
        0 calc(100vh * 3),
        0 calc(100vh * 4);
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    height:
        100vh,
        200vh,
        300vh,
        400vh,
        500vh;
    background-color: #002E4E;
    background-color: rgba(0, 46, 78, 0.1);
    background-blend-mode: darken;
}

/* Background */

.back-sp-1 {
    position: fixed;
}

/* Sideline Long */

.sideline-long-left {
    width: 3px;
    height: 100%;
    background-color: #FFF;
    position: fixed;
    left: 10px;
}

.sideline-long-right {
    width: 3px;
    height: 100%;
    background-color: #FFF;
    position: fixed;
    right: 10px;
}

/* Sideline Short */

.sideline-short {
    width: 8px;
    height: 64px;
    background-color: #FFF;
}

.sideline-short-grp {
    /* float: */
    margin: 0 63px;
}

.sideline-short-grp .left {
    float: left;
    margin-right: 5px;
    margin-top: 1080px;
}

.sideline-short-grp .right {
    float: right;
    margin-left: 5px;
    margin-top: 1080px;
}

/* Parts */

.color-kariyasu {
    color: #FFED00;
}

li {
    list-style: none;
}

h1 {
    font-weight: 500;
}

/* Table */
.td-right {
    text-align: right;
}

/* Index */

.index-area {
    display: flex;
}

.index-area p {
    font-size: 16px;
}

.main-index {
    display: flex;
}

.main-index .textbox {
    display: block;
    text-align: right;
    margin: 0;
}

.main-index .ja {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.main-index .en {
    font-size: 24px;
    font-weight: 500;
    font-family: 'DIN-1451-Alt';
    margin: -4px 2px 0 0;
}

.main-index .index-line {
    width: 4px;
    height: 60px;
    background-color: #FFF;
    margin: 5px 6px;
}

.sub-index {
    display: flex;
}

.sub-index .textbox {
    display: block;
    text-align: right;
}

.sub-index .ja {
    font-size: 27px;
    font-weight: 700;
    margin: 0;
}

.sub-index .en {
    font-size: 19px;
    font-weight: 500;
    font-family: 'DIN-1451-Alt';
    margin: -7px 2px 0 0;
}

.sub-index .index-line {
    width: 4px;
    height: 48px;
    background-color: #FFF;
    margin: 2px 7px;
}

/* Header */

header {
    width: 100%;
    position: fixed;
    background-color: #FFED00;
    display: flex;
    height: 64px;
    text-align: center;
}

.header-logo {
    height: 64px;
    margin-left: 36px;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 0 30px;
}

.header-list a {
    display: flex;
    text-decoration: none;
    margin-right: 36px;
}

.header-list dt {
    font-weight: 700;
    font-size: 26px;
    color: #002E4E;
}

.header-list dd {
    font-size: 18px;
    font-family: 'DIN-1451-Alt';
    color: #002E4E;
    margin: auto 0 0 2px;
}

/* Page 00: Top Page */

.top {}

.top img {
    height: 124px;
    margin: calc((100vh - 104px) / 2) 30px;
}

/* Page 01: Profile */

.profile {
    width: 80%;
    /* margin: 0; */
}

.about-me {
    display: flex;
    margin: 64px 0 auto;
}

.profile p {
    font-size: 16px;
    max-width: max-content;
    width: 60%;
    margin: 0px 30px 0 8px;
}

.profile img {
    width: 15%;
    border: 3px solid #fff;
}

.social-list {
    border: none;
    margin: 0 auto;
}

.social-list tr {}

.social-list td a {
    font-size: 16px;
    font-weight: 500;
    font-family: 'DIN-1451-Alt';
    text-decoration: none;
    text-align: right;
    color: #002E4E;
    background-color: white;
    height: fit-content;
    padding: 4px 6px 3px;
}

.social-list td span {
    font-size: 16px;
    width: fit-content;
    display: flex;
    margin: 2px 5px;
}

.carrer {
    display: flex;
    margin: 0;
}

.carrer tr {
    /* display: flex; */
}

.carrer td span {
    font-weight: 400;
    margin-right: 12px;
}

/* Page 02: Works */

.works {}

.works-list {}

.works-box {}

.works-box img {
    width: 30%;
    border: 4px solid #FFF;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.works-about {
    display: flex;
}

.works-about .line {
    width: 4px;
    height: 62px;
    background-color: #FFF;
    margin: 0 63px;
}

.works-about .text {
    text-align: left;
}

.works-about .text h4 {
    font-weight: 400;
}

.works-about.text p {}

/* Page 03: Skills */

.skills {}

.skills-area {}

.skills-level {
    display: flex;
}

.skills-largebox {
    display: flex;
}

.graph {
    display: flex;
    font-family: 'DIN-1451-Alt';
    font-size: 22px;
}

.graph p {}

.graph-area {
    width: 420px;
    /* height: 100%; */
    border: 4px solid #FFF;
}

.graph-area table {}

.graph-area table tr {}

.graph-area table td span {}

.marks {
    display: flex;
}

.pt1 {
    width: 35px;
    height: 20px;
    background-color: #FFF;
}

.pt0 {
    width: 35px;
    height: 20px;
    border: 2px solid #FFF;
    box-sizing: border-box;
}

.comment {
    display: flex;
}

/* Page 04: Contact */

.contact {}

.contact-area {}

.contact-area table {}

.contact-area table tr {
}

.contact-area table td span {
}

.contact-area table td input {
    width: 522px;
}

.btn {}

/* Endline */

.endline {
    width: 8px;
    height: 136px;
    background-color: #FFF;
    margin: 0px 2px;
}

.endline-grp .left {
    float: left;
    margin-left: 16px;
    display: flex;
}

.endline-grp .right {
    float: right;
    margin-right: 16px;
    display: flex;
}

/* Footer */
.footer-area {
    width: 80%;
    height: 80px;
    text-align: left;
    margin: 0 0 51px 226px;
}