@charset "UTF-8";

@font-face {
    font-family: 'DIN-1451-Alt';
    src: url('../font/din1451alt.ttf') format('truetype');
    src: url('../font/din1451alt_G.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    font-family: 'Noto Sans JP', 'メイリオ', 'Meiryo';
    color: #FFF;
    box-sizing: border-box;
    width: 100%;
    min-width: 1076px;
    margin: 0 auto;
    padding: 0;
    /* background-color: #002E4E; */
    background-color: rgba(0, 46, 78, 0.3);
    background-blend-mode: darken;
}

/* Parts */

.color-kariyasu {
    color: #FFED00;
}

li {
    list-style: none;
}

h1 {
    font-weight: 500;
}

.btn {
    font-family: 'DIN-1451-Alt', 'Noto Sans JP';
    font-size: 18px;
    font-weight: 500;
    color: #002E4E;
    background-color: white;
    border: none;
    border-radius: 0.1rem;
    padding: 1px 7px 0px 7px;
    margin: 1px;
}

a {
    color: #fff;
    text-decoration: none;
}

/* Table */

.td-right {
    text-align: right;
    vertical-align: baseline;
}

/* Index */

.index-area {
    display: flex;
    justify-content: center;
    margin: 0 auto 36px;
}

.index-area p {
    font-size: 16px;
    vertical-align: middle;
    margin: auto 8px;
}

.main-index {
    display: flex;
}

.main-index .textbox {
    display: block;
    text-align: right;
    margin: 0;
}

.main-index .ja {
    font-size: 36px;
    font-weight: 700;
    margin: 0px 0 1px 0;
}

.main-index .en {
    font-size: 24px;
    font-weight: 500;
    font-family: 'DIN-1451-Alt';
    margin: -4px 2px 0 0;
}

.main-index .index-line {
    width: 4px;
    height: 62px;
    background-color: #FFF;
    margin: 5px 0 0px 6px;
}

.sub-index {
    display: flex;
}

.sub-index .textbox {
    display: block;
    text-align: right;
}

.sub-index .ja {
    font-size: 27px;
    font-weight: 700;
    margin: 0;
}

.sub-index .en {
    font-size: 19px;
    font-weight: 500;
    font-family: 'DIN-1451-Alt';
    margin: -7px 2px 0 0;
}

.sub-index .index-line {
    width: 4px;
    height: 48px;
    background-color: #FFF;
    margin: 2px 6px;
}

/* Header */

.header {
    width: 100%;
    height: 64px;
    background-color: #FFED00;
    /* 近江刈安 */
    display: flex;
    text-align: center;
    position: fixed;
    padding: 0 28px;
}

.header.headerScroll {
    background-color: rgba(0 0 0 0);
    color: #fff;
    border-bottom: 2px solid #fff;
}

nav {
    margin: 0 auto;
    justify-content: right;
}

.header-logo {
    height: 64px;
}

.header-list {
    display: flex;
    margin: 12px 0 0 30px;
}

.header-list a {
    display: flex;
    text-decoration: none;
    margin-right: 36px;
}

.header-list dt {
    font-weight: 700;
    font-size: 26px;
    color: #002E4E;
}

.header-list dd {
    font-size: 18px;
    font-family: 'DIN-1451-Alt';
    color: #002E4E;
    margin: auto 0 0 2px;
}

/* Page Common Style */

.page {
    height: 100vh;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 46, 78, 0.2);
    background-blend-mode: darken;
    justify-content: center;
    align-items: center;
}

.container {
    width: 85%;
    padding-top: 56px;
}

/* Page 00: Top Page */

.top {
    background-image: url("../img/back_PC/00_PC.jpg");
    display: flow-root;
    vertical-align: middle;
}

.top-contents {
    display: block;
    margin-top: calc(100vh /2 - 88px);
}

.top-contents img {
    height: 96px;

}

.top-contents p {
    font-size: 19px;
    font-weight: 500;
    line-height: 20px;
    margin: -17px 0 0 3px;
}

/* Page 01: Profile */

.profile {
    background-image: url("../img/back_PC/01.jpg");
}

.prof-list {
    border: none;
    margin: 0 auto 64px auto;
}

.prof-list td {
    vertical-align: top;
}

.prof-list td .main-index {
    margin: 0px;
}

.prof-list td .about-me {
    margin: 6px 24px 24px 8px;
    width: 512px;
}

.prof-list img {
    width: 144px;
    border: 3px solid #fff;
    border-radius: 0.1rem;
    aspect-ratio: 1 / 1;
}

.prof-list td .about-social {
    font-size: 16px;
    max-width: max-content;
    margin: 2px 0px 0px 7px;
}

.carrer {
    display: flex;
    justify-content: center;
    /* margin-left: 96px; */
}

.carrer-list {}

.carrer-list td span {
    font-weight: 400;
    margin-right: 12px;
}

/* Page 02: Works */

.works {
    background-image: url("../img/back_PC/02.jpg");
}

.works-list {
    display: flex;
    margin-bottom: 24px;
    justify-content: center;
}

.works-box {
    max-width: 31%;
    margin-right: 10px;
}

.works-box:last-child {
    margin-right: 0;
}

.works-box img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border: 4px solid #FFF;
    border-radius: 0.1rem;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.works-about {
    display: flex;
    margin-top: 4px;
}

.works-about .line {
    width: 4px;
    height: 50px;
    background-color: #FFF;
    margin: 2px 7px 0px 0;
}

.works-about .text {
    text-align: left;
}

.works-about .text h4 {
    font-size: 21px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 1px;
}

.works-about .text p {
    margin: 0;
    font-size: 16px;
}

/* Page 03: Skills */

.skills {
    background-image: url("../img/back_PC/03.jpg");
}

.skills-area {
    display: grid;
    justify-content: center;
}

.skills-level {
    display: flex;
    margin-top: 36px;
    margin-bottom: 24px;
}

.skills-level li {
    display: flex;
    margin-right: 20px;
}

.skills-level li:last-child {
    margin-right: 0;
}

.skills-largebox {
    margin-bottom: 64px;
}

.graph {
    display: flex;
    font-family: 'DIN-1451-Alt';
    font-size: 22px;
    margin-right: 10px;
}

.graph:last-child {
    margin-right: 24px;
}

.graph p {
    text-align: right;
    line-height: 28px;
    margin: 0 9px 0 0;
}

.graph-area {
    width: fit-content;
    min-width: 316px;
    height: fit-content;
    border: 4px solid #FFF;
    border-radius: 0.1rem;
    padding: 4px 12px;
}

.graph-area table .td-right {
    text-align: left;
}

.graph-area table .td-right span {
    margin-right: 8px;
}

.marks {
    display: flex;
}

.pt1 {
    width: 35px;
    height: 18px;
    background-color: #FFF;
    margin: 0 -1px;
}

.pt0 {
    width: 35px;
    height: 18px;
    border: 2px solid #FFF;
    box-sizing: border-box;
    margin: 0 -1px;
}

.comment {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.comment p {
    vertical-align: middle;
    margin: auto 0;
}

/* Page 04: Contact */

.contact {
    background-image: url("../img/back_PC/04.jpg");
}

.form-inline {
    margin-bottom: 24px;
}

.form-group {
    display: table;
    margin: 0 auto;
}

.form-group .form-control {
    height: 28px;
    background-color: rgba(0, 46, 78, 0.3);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0.1rem;
    margin-bottom: 6px;
    overflow-wrap: normal;
}

.form-group:nth-last-child(2) .form-control {
    height: 256px;
    display: table-cell;
    vertical-align: top;
}

.form-group:last-child {}

/* Footer */
footer {
    background-color: #51769e;
    display: block;
    padding: 0 28px;
}

.footer-container {
    height: 64px;
    display: flex;
    align-items: center;
}

.footer-container img {
    height: 64px;
}

.footer-container img.right {
    margin-right: 0;
    margin-left: auto;
}

.footer-container p {
    margin: 0 0 0 14px;
}